// Helper classes

// Alignment
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }
.text-justify { text-align: justify; }
.text-nowrap  { white-space: nowrap; }

@include breakpoint(md) {
  .text-md-left    { text-align: left; }
  .text-md-right   { text-align: right; }
  .text-md-center  { text-align: center; }
  .text-md-justify { text-align: justify; }
  .text-md-nowrap  { white-space: nowrap; }
}

// Vertical alignment
.va-top    { vertical-align: top; }
.va-middle { vertical-align: middle; }
.va-bottom { vertical-align: bottom; }

// Transformation
.text-lowercase  { text-transform: lowercase; }
.text-uppercase  { text-transform: uppercase; }
.text-capitalize { text-transform: capitalize; }

.no-margin { margin: 0; }
.mt-gutter { margin-top: $gutter; }
.mb-gutter { margin-bottom: $gutter; }

.display-block        { display: block; }
.display-inline       { display: inline; }
.display-inline-block { display: inline-block; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.w-100 { width: 100%; }
.h-100 { height: 100%; }

.cursor-help { cursor: help; }
