// Images and videos

img,
video,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

video,
audio {
  width: 100%;
}

.forest-image-jump-fix,
.forest-asset-jump-fix {
  position: relative;
  height: 0;
  overflow: hidden;
}

.forest-image-jump-fix,
.forest-asset-jump-fix {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.forest-asset-jump-fix {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.forest-image-jump-fix--image-jpeg,
.forest-asset-jump-fix {
  background-color: $lazy-image-background-color;
}

.forest-asset-jump-fix--cover {
  padding-bottom: 0 !important;
  height: 100%;
}

.lazy-image {
  opacity: 0;
  transition: opacity 0.2s;

  &.lazyload {
    height: 100%;
  }

  &.lazyloaded {
    opacity: 1;
  }

  &.content-type--image-jpeg {
    background-color: $lazy-image-background-color;
  }
}

.background-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.background-image-contain {
  background-size: contain;
  background-position: center center !important;
  background-repeat: no-repeat;

  &.lazyloaded {
    background-color: transparent !important;
  }
}

.forest-asset-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .landscape-image {
//   padding-bottom: 70%;
// }

// .portrait-image {
//   padding-bottom: 119.7%;
// }

// .square-image {
//   padding-bottom: 100%;
// }
